{% extends 'shop/base.html' %}}

{% block content %}
<style>
    .OnlyBlockHome{
    display: block;
}
.OnlyNoneHome{
    display: none;
}
</style>
<div style="padding: 28px;"></div>
<br>
<h2 class="w3-margin">A verification email sent successfully to your mail with a link 
    to confirm that this is your email, Check your inbox and click the link to complete your registration.</h2>
<h3 style="color:teal" class="w3-margin">If you did not get it in your inbox, please check your spam folder.</h3>

{% endblock %}



