{% extends 'shop/base.html' %}
{% load widget_tweaks %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<style>
  .OnlyBlockHome{
    display: block;
}
.OnlyNoneHome{
    display: none;
}
</style>

<div class="container py-3">
    <div class="w3-card-4 p-lg-5 m-lg-5">


        {% if validlink %}
            <div class="w3-container w3-green">
                    <h2 class="w3-margin">Set a new password!</h2>
                  </div><br>
<!--
  Form error
-->
  <!--Form Error-->
  {% if form.errors %}
  <div class="alert w3-pale-blue">
    <h4>Please fix the following errors</h4>
    <!--Form Messages-->
    
    {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}" style="color: rgb(184, 11, 11);">{{ message|safe }}</div>
    {% endfor %}
    {% endif %}
    <!--Form Messages-->
<ul>
{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
  <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
{% endfor %}
{% endif %}
{% endfor %}
</ul>
{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}
</div>
{% endif %} 
<!--
  End Form Errors
-->
          
<form method="POST" class="w3-container">
    {% csrf_token %}
    
    <label>New Password:</label>
    {% render_field form.new_password1 class="w3-input" type="password" %}
    <br>
    <label>New Password Confirmation:</label>
    {% render_field form.new_password2 class="w3-input" type="password" %}
    <br>
 <button class="w3-right btn btn-success w3-margin" type="submit">Change my password</button>
   </form>
   {% else %}
   <p>
     The password reset link was invalid, possibly because it has already been used.
     Please request a new password reset.
   </p>
 {% endif %}



   </div></div>
   <div style="padding: 15px;"></div>
{% endblock %}