{% extends 'shop/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Contact
{% endblock %}

{% block content %}
<style>
  .hideLanguageTab {
          display: none;
      }
  </style>
<div class="container container-fluid">
    <div class="jumbotron jumbotron-fluid">

        <h3 class=" w3-margin" style="background-color: yellow; padding: 5px; color: black;">Hi {% if request.user.is_authenticated %} {{ user.username|title }}, {% endif %} Your payment completed successfuly. An email Sent to you with complete details.</h3>

        <br>
        <table class="table table-hover">
            <thead>
              <!-- <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr> -->
            </thead>
            <tbody>
              <tr>
                <td><b>Invoice(رقم الفاتورة)</b></td>
                <td><b>{{ invoice }}</b></td>
              </tr>
              <tr>
                <td><b>Name</b></td>
                <td>{{ first_name|title }} {{ last_name|title }}</td>      
              </tr>
              <tr>
                <td><b>Email</b></td>
                <td>{{ email }}</td>      
              </tr>
              <tr>
                <td><b>Address</b></td>
                <td>{{ address|capfirst }} | {{ city|title }}</td>      
              </tr>
              <tr>
                <td><b>Phone Number</b></td>
                <td>{{ phone1 }}</td>      
              </tr>
              {% if order_items %}
              {% for o in order_items %}
                  <tr>
                <td><b>Item</b></td>
                <td>{{ o.product.name|capfirst }}   <br>  
            ({{ o.product.name_arabic|capfirst }}) </td>    
              </tr>
              {% endfor %}
              {% endif %}
              <tr>
                <td><b>Shipping Fees</b></td>
                {% if shipping %}
                <td>{{ shipping }} EGP</td> 
                {% else %} 
                <td><span style="color: rgb(0, 182, 0);">Free Shipping</span> </td>
                {% endif %}
              </tr>
              <tr>
                <td><b>Total Fees</b></td>
                <td>{{ fees }} EGP</td>      
              </tr>
            </tbody>
          </table>

    </div>
</div>




{% endblock %}