{% extends 'shop_arabic/base_arabic.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    من نحن
{% endblock %}

{% block content %}
	<!-- Main Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a href="{% url 'shop_arabic:home_arabic' %}"><i class="fa fa-home"></i></a></li>
			<li>من نحن</li>
		</ul>
		
		<div class="row" style="text-align: justify;">
			<div id="content" class="col-sm-12">
				<div class="about-us about-demo-4">
					<div class="row">
						<div class="col-lg-6 col-md-6 about-us-content">
							<div class="content-about">
								<h2 class="about-title fontDroidArabicKufi">من نحن</h2> <img src="{% static 'image/blog-1-570x365.jpg' %}" alt="About Us">
								<p class="description-about"> 
                                    نحن مجموعه من الشباب المؤمنين بافكار عصريه وهدفنا الرئيسي هو رضاء العميل .في مجال قطع غيار السيارات لاحظنا كمستهلكين عدم الاهتمام من قبل السوق المصري بتسهيل عمليه شراء قطعة الغيار اللازمه للمستهلك بشكل تقني ومريح وموفر للجهد واعباء البحث عن قطعة الغيار وعلي هذا الاساس قمنا بتاسيس اكبر موقع الكتروني وتطبيقات علي الهواتف الذكيه لتوفير كافة الاحتياجات اللازمه للسيارات بكل انواعها الخاصه والتجاريه ,وليس ما يلزم قطع الغيار فقط والاكسسورات ولكن سوف نقوم بترشيح افضل مراكز صيانة للتعامل وتركيب قطع الغيار بافضل يد عامله محترفه ومع ضمان وخدمة مابعد البيع والصيانه 
                                </p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 faq-about-us">
							<h2 class="about-title fontDroidArabicKufi">مارش بارت</h2>
							<div class="content-faq">
								<div id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel">
										<div class="panel-head" role="tab" id="headingOne">
											<h4 class="panel-title">						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">						  <span>لماذا تختار التعامل معنا؟</span>						</a>					  </h4> </div>
										<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
											<div class="panel-body">

                                                -العديد من الشركات في السوق هذه الايام لماذا تختارنا نحن بالتحديد <br>
                                                1- نولي اهتمام كبير للعميل وبمنظور الخبره في هذا المجال نعرف تحديدا احتياجات العميل الاساسيه لسيارته <br>
                                                2- نتميز بخدمة عملاء ممتازه <br>
                                                3- نتميز بوجود فنيين متخصصين لمعرفة مدي صلاحية قطع الغيار المطلوبه وتقليل نسبة المرتجعات بقدر الامكان <br>
                                                4- نقوم بتوصيل قطعة الي العميل في اسرع وقت ممكن 	<br>
                                                5-  نقوم بترشيح افضل مركز صيانه للعمل علي تركيب قطعة الغيار بحرفيه عاليه <br>
                                                6- سعر قطعة الغيار هي الافضل مع مراعاة وجود ضمان علي القطعه في حالة عدم صلاحيتها <br>
                                                

                                            
                                                 </div>
										</div>
									</div>
									<!-- <div class="panel">
										<div class="panel-head" role="tab" id="headingTwo">
											<h4 class="panel-title">						<a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">						  <span>فريق العمل</span>						</a>					  </h4> </div>
										<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="true">
											<div class="panel-body"> 
                                                <b>مايكل حنا </b> مؤسس و مدير تنفيذى <br>
                                                <b>هانى جورج</b>   محلل أعمال و مالك "مارش بارت" <br>
                                                <b>ريمون إسكندر </b>   مدير المبيعات و منسق المهمات <br>
                                                <b>جورج حنا</b>  المدير المالى <br>
    
                                            </div>
										</div>
									</div> -->
									<div class="panel">
										<div class="panel-head" role="tab" id="headingThree">
											<h4 class="panel-title">						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">						  <span>رؤيتنا</span>						</a>					  </h4> </div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
											<div class="panel-body">

                                                رؤويتنا واضحه جدا وهو خدمة العميل بعدم تعطيله والقيام بمهمه صعبه وهي توفير قطعة الغيار باحسن سعر واعلي جوده في وقت قياسي 
                                                توحيد سوق قطع الغيار من حيث الاسعار لصالح العميل 
                                                والؤويه الاكبر هو ان نصبح فاعلين في مجال قطع الغيار في مصر والشرق الاوسط 
                                                
                                                    
                                            
                                            </div>
										</div>
									</div>
									<div class="panel">
										<div class="panel-head" role="tab" id="headingFour">
											<h4 class="panel-title">						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">	 <span>مهمتنا الأولى و الأخيرة</span>						</a>					  </h4> </div>
										<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false" style="height: 0px;">
											<div class="panel-body"> 
                                                لكي نترك علامه واضحه وتغيير غير مسبوق في هذ المجال وعدم تعطيلك باي حال من الاحوال 
                                                 </div>
										</div>
									</div>
									<!-- <div class="panel">
										<div class="panel-head" role="tab" id="headingFive">
											<h4 class="panel-title">						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">						  <span>Marketing strategy </span>						</a>					  </h4> </div>
										<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false" style="height: 0px;">
											<div class="panel-body">
                                                We are planning to reach out our customers through the social media ,radios stations ,tv ads ,sponsoring events , we will do it perfectly and we have potentials. <br>
                                                We have many partners already . 
                                                    
                                            </div>
										</div>
									</div> -->
									<!-- <div class="panel">
										<div class="panel-head" role="tab" id="headingSix">
											<h4 class="panel-title">						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">						  <span>Problem Solver </span>						</a>					  </h4> </div>
										<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix" aria-expanded="false" style="height: 0px;">
											<div class="panel-body"> Our moto is never get stuck this is also for us as a team AND FOR OUR CUSTOMER ,
                                                we will do our best to solve your problem even by getting you the spare parts from abroad , this is our mission 
                                                 </div>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //Main Container -->
	

    {% endblock %}