{% extends 'shop_arabic/base_arabic.html' %}
{% load static %}
{% block title %}
    {% if blog_arabic %}{{ blog.title_arabic }} {% endif %}
{% endblock %}


{% block content %}


	<!-- Main Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i></a></li>
			<li><a href="#">مقالات</a></li>
			<li><a href="#">{{ blog.title_arabic|title }}</a></li>
		</ul>
		
		<div class="row">
			<!--Left Part Start -->
            <aside class="col-md-3 col-sm-4 content-aside left_column" id="column-left">
               
                <div class="module blog-category titleLine">
                    <h3 class="modtitle">المقالات بالفئة</h3>
                    <div class="modcontent">
                        <ul class="list-group ">
                            {% if allBlogTags %}
                            {% for ab in allBlogTags %}
                            <li class="list-group-item">
                                 <a href="{{ab.get_absolute_url_arabic}}" class="group-item">{{ ab.tag_arabic|title }}</a></li>
                        {% endfor %}
                        {% endif %}
                        </ul>
                        
                    </div>
                </div>
                <div class="module product-simple">
                    <h3 class="modtitle">
                        <span>آخر المنتجات</span>
                    </h3>
                    <div class="modcontent">
                        <div class="so-extraslider" >
                            <!-- Begin extraslider-inner -->
                            <div class=" extraslider-inner">
                                
                                <div class="item ">
                                    {% if latest_products %}
                                    {% for p in latest_products %}
                                    <div class="product-layout item-inner style1 ">
                                        <div class="item-image">
                                            <div class="item-img-info">
                                                <a href="{{ p.get_absolute_url_arabic }}" target="_self" title="{{ p.name_arabic|title }} ">
                                                    <img src="{{ p.image.url }}" alt="{{ p.name_arabic|title }}">
                                                    </a>
                                            </div>
                                            
                                        </div>
                                        <div class="item-info">
                                            <div class="item-title">
                                                <a href="{{ p.get_absolute_url_arabic }}" target="_self" title="{{ p.name_arabic|title }}">{{ p.name_arabic|title }} </a>
                                            </div>
                                            <!-- <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            </div> -->
                                            <div class="content_price price">
                                                {% if p.sale_price %}
                                                <span class="price-new product-price">EGP {{  p.sale_price }} </span>&nbsp;&nbsp;
  
                                                <span class="price-old">EGP {{ p.price }} </span>&nbsp;
                                                {% else %}
                                                <span class="price-new product-price">EGP {{  p.price }} </span>
                                                  {% endif %}

                                            </div>
                                        </div>
                                        <!-- End item-info -->
                                        <!-- End item-wrap-inner -->
                                    </div>
                                    <!-- End item-wrap -->
                                   {% endfor %}
                                   {% endif %}
                                </div>
                            </div>
                            <!--End extraslider-inner -->
                        </div>
                    </div>
                </div>
                
                <div class="module banner-left hidden-xs ">
                    <div class="banner-sidebar banners">
                      <div>
                        <a title="Banner Image" href="#"> 
                          <img src="{{ blog.image2.url }}" alt="Banner Image"> 
                        </a>
                      </div>
                    </div>
                </div>  
            </aside>
            <!--Left Part End -->
			
			<!--Middle Part Start-->
			<div id="content" class="col-md-9 col-sm-8">
				<div class="article-info">
					<div class="blog-header">
						<h3>{{ blog.title_arabic|title }}</h3>
					</div>
					<div class="article-sub-title">
						<span class="article-author">كتبه: <a href="#"> {{ blog.author_arabic|title }}</a></span>
						<span class="article-date">تاريخ النشر: {{ blog.created_at }}</span>
						<!-- <span class="article-comment">0  Comments</span> -->
                    </div>
                    {% if blog.youtube_link %}
					<div class="form-group">
                        <iframe width="900" height="600" src="{{ blog.youtube_link }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    {% else %}
					<div class="form-group">
						<a href="" class=""><img src="{{ blog.image.url }}" alt="{{ blog.title_arabic|title }}"></a>
					</div>
					{% endif %}
					<div class="article-description">
                        {% if blog.paragraph_1_heading_arabic %}
                        <h2><b>{{ blog.paragraph_1_heading_arabic }}</b></h2> 
                        {% endif %}
                        
                        {{ blog.paragraph_1_arabic|capfirst }}
					</div>
					{% if blog.paragraph_2_heading_arabic %}
					<div class="article-description">
                        <h2><b>{{ blog.paragraph_2_heading_arabic }}</b></h2>
                        {{ blog.paragraph_2_arabic|capfirst }}
					</div>
                    {% endif %}

                    
                    {% if blog.paragraph_3_heading_arabic %}
					<div class="article-description">
                        <h2><b>{{ blog.paragraph_3_heading_arabic }}</b></h2>
                        {{ blog.paragraph_3_arabic|capfirst }}
					</div>
					{% endif %}


                    {% if blog.paragraph_4_heading_arabic %}
					<div class="article-description">
                        <h2><b>{{ blog.paragraph_4_heading_arabic }}</b></h2>
                        {{ blog.paragraph_4_arabic|capfirst }}
					</div>
					{% endif %}


                    {% if blog.paragraph_5_heading_arabic %}
					<div class="article-description">
                        <h2><b>{{ blog.paragraph_5_heading_arabic }}</b></h2>
                        {{ blog.paragraph_5_arabic|capfirst }}
					</div>
					{% endif %}


                    {% if blog.paragraph_6_heading_arabic %}
					<div class="article-description">
                        <h2><b>{{ blog.paragraph_6_heading_arabic }}</b></h2>
                        {{ blog.paragraph_6_arabic|capfirst }}
					</div>
					{% endif %}


                    {% if blog.paragraph_7_heading_arabic %}
					<div class="article-description">
                        <h2><b>{{ blog.paragraph_7_heading_arabic }}</b></h2>
                        {{ blog.paragraph_7_arabic|capfirst }}
					</div>
					{% endif %}

				</div>

			</div>
			
        


		</div>
		<!--Middle Part End-->
	</div>
	<!-- //Main Container -->

    {% endblock %}