{% extends '../base.html' %}
{% load static %}
{% load ratings %}

{% block content %}
    <!-- Main Container  -->
    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="{% url  'shop:home' %}"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Liquids Types</a></li>
        </ul>
        
        <div class="row">
            <!-- advanced Search -->
         
            <!--End Advanced Search-->


            <!--Middle Part Start-->
            <div id="content" class="col-md-9 col-sm-8" style="padding-bottom: 20px;">
                <div class="products-category">
                    <h3 class="title-category ">
                      Liquids Types For
                        (<span style="color: red;">{{ brand.name }}</span>)
                        </h3>
                    <div class="category-desc">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="banners">
                                    <div>

                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <!-- Filters -->
                    <div class="product-filter product-filter-top filters-panel">
                        <div class="row">
                            <div class="col-md-5 col-sm-3 col-xs-12 view-mode">
                                
                                    <div class="list-view">
                                        <!-- <button class="btn btn-default grid active" data-view="grid" data-toggle="tooltip"  data-original-title="Grid"><i class="fa fa-th"></i></button>
                                        <button class="btn btn-default list" data-view="list" data-toggle="tooltip" data-original-title="List"><i class="fa fa-th-list"></i></button> -->
                                    </div>
                        
                            </div>
                         
                            <!-- <div class="box-pagination col-md-3 col-sm-4 col-xs-12 text-right">
                                <ul class="pagination">
                                    <li class="active"><span>1</span></li>
                                    <li><a href="">2</a></li><li><a href="">&gt;</a></li>
                                    <li><a href="">&gt;|</a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <!-- //end Filters -->
                    <!--changed listings-->
                    <div class="products-list row nopadding-xs so-filter-gird">
                        {% if liquid_types %}
                        {% for x in liquid_types %}
               {% ifchanged %}

                        <div class="product-layout col-lg-3 col-md-4 col-sm-6 col-xs-12" style=" padding-bottom: 15px;">
                            <div class="w3-card" style="padding: 3px;">
                            <div class="product-item-container item--static ">
                                <div class="left-block">
                                    <div class="product-image-container second_img">
                                        <a href="{% url  'shop:liquids_products' x.id brand.id %}" target="_self" title="{{ x.name|title }}">
                                            <img src="{{ x.image.url }}" class="img-1 img-responsive" alt="image1">
                                            <!-- <img src="{% static 'image/catalog/demo/product/270/1.jpg' %}" class="img-1 img-responsive" alt="image1"> -->
                                            <img src="{{ x.image.url }}" class="img-2 img-responsive" alt="image2">
                                        </a>
                                    </div>
                                  
                                </div>
                        
                                <div class="w3-center">
                                   
                                    <h4 style="min-height: 2em; font-family: 'DroidArabicKufi', serif; font-weight: 600;"><a href="{% url  'shop:liquids_products' x.id brand.id %}" title="" target="_self">{{ x.name|title }}</a></h4>
                                  
                     
                                </div>                                            
                            </div>
                        </div>
                        </div>
                        {% endifchanged %}
                        {% endfor %}
                        {% endif %}

                    </div>
                    <!--// End Changed listings-->
                    
                    <!-- Filters -->
                    <!-- <div class="product-filter product-filter-bottom filters-panel">
                        <div class="row">
                            <div class="col-sm-6 text-left"></div>
                            <div class="col-sm-6 text-right">Showing 1 to 12 of 12 (1 Pages)</div>
                        </div>
                    </div> -->
                    <!-- //end Filters -->
                    
                </div>
                
            </div>
            

            <!--Middle Part End-->



            <!-- ************** Right Part Start ******************* -->
            <aside class="col-sm-4 col-md-3 content-aside" id="column-left">
                <div class="module product-simple">
                    <h3 class="modtitle">
                        <span>  Recently Added</span>
                    </h3>
                    <div class="modcontent">
                        <div id="so_extra_slider_1" class="so-extraslider" >
                            <!-- Begin extraslider-inner -->
                            <div class="extraslider-inner">
            
                                {% if latest_products_liquids %}
                                {% for x in latest_products_liquids %}
                                <div class="item ">
                                    <div class="product-layout item-inner style1 ">
                                        <div class="item-image">
                                            <div class="item-img-info">
                                                <a href="{{ x.get_absolute_url }}" target="_self" title="{{ x.name }} ">
                                                    <img src="{{ x.image.url }}" alt="{{ x.name }}">
                                                    </a>
                                            </div>
                                            
                                        </div>
                                        <div class="item-info">
                                            <div class="item-title"
                                                <a href="{{ x.get_absolute_url }}" target="_self" title="{{ x.name }}" style="font-size: 13px;"></a>{{ x.name }} </a>
                                            </div>
                                            <!-- <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            </div> -->
                                            <div class="content_price price">
                                                {% if x.sale_price %}
                                                <span class="price-new product-price">EGP {{  x.sale_price|floatformat }}</span>&nbsp;&nbsp;
            
                                                <span class="price-old">EGP {{ x.price|floatformat }}</span>&nbsp;
                                                {% else %}
                                                <span class="price-new product-price">EGP {{  x.price|floatformat }}</span>
                                                  {% endif %}
            
                                            </div>
            
                                            
                                        </div>
                                        <!-- End item-info -->
                                        <!-- End item-wrap-inner -->
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
            
            
                            </div>
                            <!--End extraslider-inner -->
                        </div>
                    </div>
                </div>
                        </aside>
            <!--Right Part End -->
            
            
        </div>
        <!--Middle Part End-->
    </div>
    <!-- //Main Container -->

{% endblock %}