{% extends 'shop_arabic/base_arabic.html' %}
{% load static %}
{% load ratings %}
{% block title %}الفئات
{% endblock %}

{% block content %}








<!-- Main Container  -->
<div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">{{ category.name_arabic }}</a></li>
        </ul>
        
        <div class="row">
            <!--Left Part Start -->
            <!--Left Part Start -->
            <aside class="col-sm-4 col-md-3 content-aside" id="column-left">
                <div class="module category-style">
                    <h3 class="modtitle fontDroidArabicKufi">الفئات</h3>
                    <div class="modcontent">
                        <div class="box-category">
                            <ul id="cat_accordion" class="list-group">
<!-- 

                                {% if Navcategories %}
                                {% for c in Navcategories %}
                                <li class="hadchild"><a href="{{ c.get_absolute_url }}" class="cutom-parent">{{ c.name|title }}</a>   <span class="button-view  fa fa-plus-square-o"></span>
                                    <ul style="display: block;">
                                        <li><a href="category.html">Men's Watches</a></li>
                                        <li><a href="category.html">Women's Watches</a></li>
                                        <li><a href="category.html">Kids' Watches</a></li>
                                        <li><a href="category.html">Accessories</a></li>
                                    </ul>
                                </li>
                                {% endfor %}
                                {% endif %} -->


                                {% if Navcategories %}
                                {% for c in Navcategories %}
                                <li class=""><a href="{{ c.get_absolute_url_arabic }}" class="cutom-parent">{{ c.name_arabic|title }}</a>  <span class="dcjq-icon"></span></li>
                                {% endfor %}
                                {% endif %}
                        
                            </ul>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="module product-simple">
                    <h3 class="modtitle">
                        <span>آخر المنتجات</span>
                    </h3>
                    <div class="modcontent">
                        <div class="so-extraslider" >
                            <!-- Begin extraslider-inner -->
                            <div class=" extraslider-inner">
                                <div class="item ">
                                    {% if latest_products %}
                                    {% for p in latest_products %}
                                    <div class="product-layout item-inner style1 ">
                                        <div class="item-image">
                                            <div class="item-img-info">
                                                <a href="{{ p.get_absolute_url_arabic }}" target="_self" title="{{ p.name_arabic|title }} ">
                                                    <img src="{{ p.image.url }}" alt="{{ p.name_arabic|title }}">
                                                    </a>
                                            </div>
                                            
                                        </div>
                                        <div class="item-info">
                                            <div class="item-title">
                                                <a href="{{ p.get_absolute_url_arabic }}" target="_self" title="{{ p.name_arabic|title }}">{{ p.name_arabic|title }} </a>
                                            </div>
                                            <!-- <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            </div> -->
                                            <div class="content_price price">
                                                <span class="price-new product-price">EGP {{ p.price }}</span>&nbsp;&nbsp;

                                                <!-- <span class="price-old">$76.00 </span>&nbsp; -->

                                            </div>
                                        </div>
                                        <!-- End item-info -->
                                        <!-- End item-wrap-inner -->
                                    </div>
                                    <!-- End item-wrap -->
                                   {% endfor %}
                                   {% endif %}
                                </div>
                            </div>
                            <!--End extraslider-inner -->
                        </div>
                    </div>
                </div>
                <div class="module banner-left hidden-xs ">
                    <div class="banner-sidebar banners">
                      <div>
                        <a title="Banner Image" href="#"> 
                          <img src="{{ category.category_leftSide_image.url }}" alt="Banner Image"> 
                        </a>
                      </div>
                    </div>
                </div>
            </aside>
            <!--Left Part End -->
            <!--Left Part End -->
            
            <!--Middle Part Start-->
            <div id="content" class="col-md-9 col-sm-8">
                <div class="products-category">
                    <h3 class="title-category fontDroidArabicKufi">{{ category.name_arabic|title }}</h3>
                    <div class="category-desc">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="banners">
                                    <div>
                                        <a  href="#"><img src="{{ category.category_banner.url }}" alt="img cate"><br></a>
                                        <!-- <a  href=""><img src="{{ category.image.url }}" alt="img cate"><br></a> -->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Filters -->
                    <div class="product-filter product-filter-top filters-panel">
                        <div class="row">
                            <div class="col-md-5 col-sm-3 col-xs-12 view-mode">
                                
                                <div class="list-view">
                                        <button class="btn btn-default grid active" data-view="grid" data-toggle="tooltip"  data-original-title="Grid"><i class="fa fa-th"></i></button>
                                        <button class="btn btn-default list" data-view="list" data-toggle="tooltip" data-original-title="List"><i class="fa fa-th-list"></i></button>
                                    </div>
                                    
                            </div>
                       
                        </div>
                    </div>
                    <!-- //end Filters -->

                    <!--changed listings-->
                    <div class="products-list row nopadding-xs so-filter-gird">
                        
                        {% if products_paginator %}
                        {% for product in products_paginator %}
                        <div class="product-layout col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="product-item-container item--static">
                                <div class="left-block">
                                    <div class="product-image-container second_img">
                                        <a href="{{ product.get_absolute_url_arabic }}" target="_self" title="">
                                            <img src="{{ product.image.url }}" class="img-1 img-responsive" alt="image1">
                                            <!-- <img src="{% static 'image/catalog/demo/product/270/1.jpg' %}" class="img-1 img-responsive" alt="image1"> -->
                                            <img src="{{ product.image2.url }}" class="img-2 img-responsive" alt="image2">
                                        </a>
                                    </div>
                                    <!-- <span class="label-product label-new">{{ None }}</span> -->
                                    <!--quickview--> 
                                    <!-- <div class="so-quickview">
                                        <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-search"></i><span>Quick view</span></a>
                                    </div>                                                      -->
                                    <!--end quickview-->
                                </div>
                                <br>
                                <div class="right-block">
                                    <div class="button-group cartinfo--static">
                                        
                                        <!-- <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i></button> -->
                                        <!-- <a  href="{{ product.get_absolute_url_arabic }}">
                                            <button type="button" class="addToCart" title="استعرض المنتج">
                                            <span>استعراض المنتج</span>   
                                        </button></a> -->
                                        <!-- <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i></button>                                                     -->
                                    </div>
                                    <h4 style="min-height: 5em; font-family: 'DroidArabicKufi', serif;"><a href="{{ product.get_absolute_url_arabic }}" title="" target="_self"></a>{{ product.name_arabic|title }}</h4>
                                    
                                    <div class="rating">  
                                        {% ratings product icon_height=14 icon_width=14 read_only="True" %}
                                    </div>
                                    <div class="price">
                                        {% if product.sale_price %}
                                        <span class="price-new product-price">EGP {{  product.sale_price|floatformat }} </span>&nbsp;&nbsp;
  
                                        <span class="price-old">EGP {{ product.price|floatformat }} </span>&nbsp;
                                        {% else %}
                                        <span class="price-new product-price">EGP {{  product.price|floatformat }} </span>
                                          {% endif %}
                                    </div>
                                    <!-- <div class="description item-desc line-clamp1">
                                        <p>{{ product.description_arabic|truncatechars:120 }}</p>
                                    </div> -->
                                    <!-- <div class="list-block">
                                        <button class="addToCart btn-button" type="button" title="Add to Cart" onclick="cart.add('101', '1');"><i class="fa fa-shopping-basket"></i>
                                        </button>
                                        <button class="wishlist btn-button" type="button" title="Add to Wish List" onclick="wishlist.add('101');"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="compare btn-button" type="button" title="Compare this Product" onclick="compare.add('101');"><i class="fa fa-refresh"></i>
                                        </button>
                                        quickview                                                      
                                        <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i></a>                                                        
                                        end quickview
                                    </div> -->
                                </div>                                            
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        

                        
                        
                        
                        

                        
                        
                    </div>
                    <!--// End Changed listings-->
                    <!-- Filters -->
                    <!-- <div class="product-filter product-filter-bottom filters-panel">
                        <div class="row">
                            
                            
                            <div class="col-sm-6 text-left"></div>
                            <div class="col-sm-6 text-right">
                                {% if products_paginator.has_other_pages %}
                                <ul class="pagination my-4 w-100 w3-small">
                                  {% if products_paginator.has_previous %}
                                    <li><a href="?page={{ products_paginator.previous_page_number }}#products" class="page-link">&laquo;</a></li>
                                  {% else %}
                                    <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                                  {% endif %}
                                  {% for i in products_paginator.paginator.page_range %}
                                    {% if products_paginator.number == i %}
                                      <li class="page-link"><span style="background-color: darkgray; color: white;">{{ i }} <span class="sr-only page-item active">(current)</span></span></li>
                                    {% else %}
                                      <li><a href="?page={{ i }}#products" class="page-link" style="background-color: white; color: darkgray;">{{ i }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                  {% if products_paginator.has_next %}
                                    <li><a href="?page={{ products_paginator.next_page_number }}#products" class="page-link">&raquo;</a></li>
                                  {% else %}
                                    <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                                  {% endif %}
                                </ul>
                              {% endif %}
</div>
</div>
</div> -->
<!-- //end Filters "Pagination" -->
     









 <!--Pagination-->
 <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if products_paginator.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; الأول</a>
        <a class="page-link" href="?page={{ products_paginator.previous_page_number }}">السابق</a>
      </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">السابق</a>
      </li>
    {% endif %}

    {% if products_paginator.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ products_paginator.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in products_paginator.paginator.page_range %}
        {% if products_paginator.number == i %}
            <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{ i }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {% elif i > products_paginator.number|add:'-5' and i < products_paginator.number|add:'5' %}
             <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if products_paginator.paginator.num_pages > products_paginator.number|add:'4' %}
       <li class="page-item"><a class="page-link" href="?page={{ products_paginator.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if products_paginator.has_next %}
        <li class="page-item">
        <a class="page-link" href="?page={{ products_paginator.next_page_number }}">التالى</a>
        <a class="page-link" href="?page={{ products_paginator.paginator.num_pages }}">الأخير &raquo;</a>
      </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">التالى</a>
      </li>
    {% endif %}
  </ul>
</nav>
<!--end of Pagination-->







































</div>
                
</div>


<!--Middle Part End-->
</div>
</div>
<!-- //Main Container -->


<script>
    // Check if Cookie exists
    if($.cookie('display')){
        view = $.cookie('display');
    }else{
        view = 'grid';
        }
        if(view) display(view);
    //--></script> 
</body>


{% endblock %}