<!--footer-->
<footer>
<div class="container-fluid bg-dark mt-3">
<div class="container py-4">
<div class="row w3-small">
<div class="col-sm-3"><h5 class="w3-text-pink w3-medium ">PRODUCT SUPPORT</h5>
<ul class="list-unstyled text-light">
    <li><a class="card-link"href="#">How To Buy </a></li>
    <li><a class="card-link"href="#">International Products</a></li>
    <li><a class="card-link"href="#">Returns & Refunds</a></li>
	<li><a class="card-link"href="#">How To Pay </a></li></ul></div>
	
	
<div class="col-sm-3"><h5 class="w3-text-pink w3-medium">CREDIT CARD</h5>
<ul class="list-unstyled text-light">
    <li><a class="card-link"href="#">How To Use Pay Pal </a></li>
    <li><a class="card-link"href="#">Submit In Pay Pal </a></li>
   </ul></div>
<div class="col-sm-3"><h5 class="w3-text-pink w3-medium">LEGAL</h5>
<ul class="list-unstyled text-light">
    <li><a class="card-link"href="#">Conditions Of Use</a></li>
    <li><a class="card-link"href="#">Legal Notices</a></li>
    <li><a class="card-link"href="#">Privacy & Policy</a></li>
	<li><a class="card-link"href="#">Price Mach Grantees </a></li></ul></div>
	
	<div class="col-sm-3"><h5 class="w3-text-pink w3-medium">FLLOW US</h5>
<ul class="list-unstyled text-light">
    <li><a class="card-link"href="#"><i class='fab fa-facebook-f'></i> <i class='fab fa-instagram'></i> <i class='fab fa-twitter'></i></a></li>
    <li><a class="card-link"href="#"><i class='fas fa-envelope'></i> <span class="w3-tiny">Email:glowing.girl@gmail.com</span></a></li>
	 <li><a class="card-link"href="#"><i class='fas fa-phone'></i> <span class="w3-tiny">Tel:010765454</span></a></li></ul></div>
</div></div></div>
<!--end footer-->

<!--foter for the desert camel-->
<div class="container-fluid  py-2"style="background-color:rgb(0,0,0);"><p class="text-center w3-small w3-text-gray">Desert Camel Developer Company <i class='fas fa-heart text-danger '></i> </p>

</div>
<!--end foter for the desert camel-->

</footer>