{% extends './base_arabic.html' %}
{% load static %}
{% load ratings %}

{% block content %}
    <!-- Main Container  -->
    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="{% url  'shop_arabic:home_arabic' %}"><i class="fa fa-home"></i></a></li>
            <li><a href="#">{{ brand.name_arabic }}</a></li>
        </ul>
        
        <div class="row">
 

     
            <!--Middle Part Start-->
            <div id="content" class="col-md-9 col-sm-8" style="padding-bottom: 20px;">
                <div class="products-category">
                    <h3 class="title-category "> {{ brand.name_arabic }}</h3>
                    <div class="category-desc">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="banners">
                                    <div>

                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <!-- Filters -->
                    <div class="product-filter product-filter-top filters-panel">
                        <div class="row">
                            <div class="col-md-5 col-sm-3 col-xs-12 view-mode">   
                                    <div class="list-view">
                                        <!-- <button class="btn btn-default grid active" data-view="grid" data-toggle="tooltip"  data-original-title="Grid"><i class="fa fa-th"></i></button>
                                        <button class="btn btn-default list" data-view="list" data-toggle="tooltip" data-original-title="List"><i class="fa fa-th-list"></i></button> -->
                                    </div>
                        
                            </div>
                         
                            <!-- <div class="box-pagination col-md-3 col-sm-4 col-xs-12 text-right">
                                <ul class="pagination">
                                    <li class="active"><span>1</span></li>
                                    <li><a href="">2</a></li><li><a href="">&gt;</a></li>
                                    <li><a href="">&gt;|</a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <!-- //end Filters -->
                    <!--changed listings-->
                    <div class="products-list row nopadding-xs so-filter-gird">

                   {% if products_paginator %}
                        {% for product in products_paginator %}

                        <div class="product-layout col-lg-3 col-md-4 col-sm-6 col-xs-12" style=" padding-bottom: 15px;">
                            <div class="w3-card" style="padding: 3px;">
                            <div class="product-item-container item--static ">
                                <div class="left-block">
                                    <div class="product-image-container second_img">
                                        <a href="{{ product.get_absolute_url_arabic }}" target="_self" title="Volup tatem accu">
                                            <img src="{{ product.image.url }}" class="img-1 img-responsive" alt="image1" height="270" width="270">
                                            <!-- <img src="{% static 'image/catalog/demo/product/270/1.jpg' %}" class="img-1 img-responsive" alt="image1"> -->
                                            <img src="{{ product.image2.url }}" class="img-2 img-responsive" alt="image2" height="270" width="270">
                                        </a>
                                    </div>
                                    <!-- <span class="label-product label-new">New</span> -->
                                    <!--quickview--> 
                                    <!-- <div class="so-quickview">
                                      <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-search"></i><span>Quick view</span></a>
                                    </div>                                                      -->
                                    <!--end quickview-->
                                </div>
                                <br>
                                <div class="right-block">
                                    <!-- <div class="button-group cartinfo--static">
                                        
                                        <a  href="{{ product.get_absolute_url_arabic }}">
                                        <button type="button" class="addToCart" title="استعرض المنتج">
                                            <span>استعرض المنتج</span>   
                                        </button></a>
                                    </div> -->
                                   
                                    <h4 style="min-height: 6em; font-family: 'DroidArabicKufi', serif;"><a href="{{ product.get_absolute_url_arabic }}" title="" target="_self">{{ product.name_arabic|title|truncatechars:70 }}</a></h4>
                                    <div class="rating">  
                                          {% ratings product icon_height=14 icon_width=14 read_only="True" %}
                                    </div>
                                    <div class="price">
                                      <!-- <span class="price">EGP {{ product.price|floatformat }}</span> -->

                                      {% if product.sale_price %}
                                      <span class="price-new product-price">EGP {{  product.sale_price|floatformat }} </span>&nbsp;&nbsp;

                                      <span class="price-old">EGP {{ product.price|floatformat }} </span>&nbsp;
                                      {% else %}
                                      <span class="price-new product-price">EGP {{  product.price|floatformat }} </span>
                                        {% endif %}





                                    </div>
                                    <!-- <div class="description item-desc">
                                        <p>{{ product.description_arabic|truncatechars:100 }}</p>
                                    </div> -->
                                    <!-- <div class="list-block">
                                        <button class="addToCart btn-button" type="button" title="Add to Cart" onclick="cart.add('101', '1');"><i class="fa fa-shopping-basket"></i>
                                        </button>
                                        <button class="wishlist btn-button" type="button" title="Add to Wish List" onclick="wishlist.add('101');"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="compare btn-button" type="button" title="Compare this Product" onclick="compare.add('101');"><i class="fa fa-refresh"></i>
                                        </button>
                                        quickview                                                      
                                        <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-eye"></i></a>                                                        
                                        end quickview
                                    </div> -->
                                </div>                                            
                            </div>
                        </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                    </div>
                    <!--// End Changed listings-->
                    
                    <!-- Filters -->
                    <!-- <div class="product-filter product-filter-bottom filters-panel">
                        <div class="row">
                            <div class="col-sm-6 text-left"></div>
                            <div class="col-sm-6 text-right">Showing 1 to 12 of 12 (1 Pages)</div>
                        </div>
                    </div> -->
                    <!-- //end Filters -->



 <!--Pagination-->
 <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if products_paginator.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; الأول</a>
        <a class="page-link" href="?page={{ products_paginator.previous_page_number }}">السابق</a>
      </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">السابق</a>
      </li>
    {% endif %}

    {% if products_paginator.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ products_paginator.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in products_paginator.paginator.page_range %}
        {% if products_paginator.number == i %}
            <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{ i }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {% elif i > products_paginator.number|add:'-5' and i < products_paginator.number|add:'5' %}
             <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if products_paginator.paginator.num_pages > products_paginator.number|add:'4' %}
       <li class="page-item"><a class="page-link" href="?page={{ products_paginator.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if products_paginator.has_next %}
        <li class="page-item">
        <a class="page-link" href="?page={{ products_paginator.next_page_number }}">التالى</a>
        <a class="page-link" href="?page={{ products_paginator.paginator.num_pages }}">الأخير &raquo;</a>
      </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">التالى</a>
      </li>
    {% endif %}
  </ul>
</nav>
<!--end of Pagination-->
















                    
                </div>
                
            </div>
            

            <!--Middle Part End-->



            <!-- ************** Right Part Start ******************* -->
            <aside class="col-sm-4 col-md-2 content-aside" id="column-left">
                <div class="module product-simple">
                    <h3 class="modtitle">
                        <span> ماركات أخرى </span>
                    </h3>
                    <div class="modcontent">
                        <div id="so_extra_slider_1" class="so-extraslider" >
                            <!-- Begin extraslider-inner -->
                            <div class="extraslider-inner">
            
                                {% if brands %}
                                {% for x in brands %}
                                <div class="item ">
                                    <div class="product-layout item-inner style1 ">
                                        <div class="item-image">
                                            <div class="item-img-info">
                                                <a href="{{ x.get_absolute_url_all_brands_arabic }}" target="_self" title="{{ x.name_arabic }} ">
                                                    {% if x.image.url != None %}
                                                    <img src="{{ x.image.url }}" alt="{{ x.name_arabic }}">
                                                    {% endif %}
                                                    </a>
                                            </div>
                                            
                                        </div>
                                 
                                        <!-- End item-info -->
                                        <!-- End item-wrap-inner -->
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
            
            
                            </div>
                            <!--End extraslider-inner -->
                        </div>
                    </div>
                </div>
                        </aside>
            <!--Right Part End -->
            
            
        </div>
        <!--Middle Part End-->
    </div>
    <!-- //Main Container -->

{% endblock %}