{% extends 'shop_arabic/base_arabic.html' %}
{% load ratings %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
إنشاء طلب جديد
{% endblock %}
{% block content %}
<style>
  .hideLanguageTab {
          display: none;
      }
  </style>

<!--
    right side
-->
<style>

	
    @media screen and (max-width: 992px) {
     .hidsmall{
        display:none;
      }
    }
    
     
      
  
  @media screen and (max-width: 768px) {
   .hide-small{
      display:none;
    }
  }
  
  @media screen and (min-width: 768px) {
   .hide-large{
      display:none;
    }
  }
      </style> 
   <!--start container---> 
  <div class="container  my-5">
  
  <!--basic row---> 
  <div class="row ">
  <!--left-side in large -->
    <div class="col-lg-3 col-md-4 col-sm-12 hide-small">
     <!--CART SUMMARY in large+medium -->
     <div class="list-group text-light rounded-lg  w3-hide-small mb-4 w3-center">
     <!--tittle-->
    <li class="list-group-item  "style="background-color:rgba(0,0,0,0.8);">
     موجز الطلبات
    </li>
    <!--tittle-->
  
    {% for item in cart %}
    <!--first item-->
     <a href="#" class="list-group-item list-group-item-action text-muted">
    <div class="media">
    <img src="{{ item.product.image.url }}" class="align-self-center mr-3" style="width:30%;">
    <div class="media-body">    
      <p>x{{ item.quantity }} {{ item.product.name_arabic }}<br>
      السعر <b>EGP {{ item.total_price }}</b></p>
    </div>
  </div>
  </a>
  <!--end first item-->
  {% endfor %}
  
  
  
  <!--totat costs-->
  <li class="list-group-item text-muted"><p>
  
  <!--total-->
   <p><span class="float-left align-bottom w3-large"><b>الإجمالى :</b> </span><span class="float-right w3-large w3-text-black">ُEGP {{ cart.get_total_price }}</span></p>
   {% if net_fees %}
   <p><span class="float-right w3-large"><b>تم استخدام الكوبون  ({{coupon}}) :</b> </span><span class="float-right w3-large w3-text-black">EGP {{ net_fees }}</span></p>
   {% endif %}
   <!--total-->
   </li>
   <!--end total cost-->
  </div>


  <p id="displayshippingcost"></p>




  <!--end CART SUMMARY in large+medium -->
    
    <!--CUSTOMER SUPPORT in large -->
    <ul class="list-group list-group-flush rounded-lg mt-4 shadow">
    <li class="list-group-item  w3-red">الدعم الفنى</li>
    <li class="list-group-item  w3-small text-secondary"><a href="#">البريد الاإليكترونى: contact@marchpart.com</a></li>
    <!-- <li class="list-group-item  w3-small text-secondary"><a href="#">FAQs</a></li> -->
    <li class="list-group-item  w3-small text-secondary">تليفون: (+20) 000000000</li>
    </ul>
    <!--CUSTOMER SUPPORT in large -->
    
    <!--paypal photo in large-->
    <!-- <ul class="list-group list-group-flush rounded-lg mt-4 shadow">
    <li class="list-group-item "><img src="/static/img/Paypal-Logo.png" class="w-100" alt="Cinque Terre"></li>
    </ul> -->
    <!--end paypal photo in large-->
    
  </div>
  <!--end left-side in large -->
  
  
    <div class="col-lg-9 col-md-8 col-sm-12">
    <!--CART SUMMARY in small -->
     <div class="list-group text-light rounded-lg hide-large mb-4  w3-center">
     <!--tittle-->
    <li class="list-group-item"style="background-color:rgba(0,0,0,0.8);">
    موجز الطلبات
    </li>
    <!--tittle-->
    {% for item in cart %}
    <!--first-item-->
    <a href="#" class="list-group-item list-group-item-action text-muted">
      <div class="media">
      <img src="{{ item.product.image.url }}" class="align-self-center mr-3" style="width:30%;">
      <div class="media-body">    
        <p>x{{ item.quantity }} {{ item.product.name_arabic }}<br>
      السعر <b>EGP {{ item.total_price }}</b></p>
      </div>
    </div>
    </a>
  <!--end first-item-->
  {% endfor %}
  
  
  
  <!--totat costs-->
  <li class="list-group-item text-muted"><p>
  <!--products price-->
  <!-- <span class="float-left">product total</span><span class="float-right">EGP{{ cart.get_total_price }}</span></p><br> -->
  <!--end products price-->
  
  <!--sapping cost-->
   <!-- <p><span class="float-left">shipping & handling </span>
  <span class="float-right">$10</span></p> -->
  <!--sapping cost-->
  <br> 
  <hr>
  <!--total-->
   <p style="font-size: large;"><b>الإجمالى: </b><span class="float-right w3-large">EGP {{ cart.get_total_price }}</span></p>
   {% if net_fees %}
   <p><span class="float-right w3-large"><b>تم استخدام الكوبون  ({{coupon}}) :</b> </span><span class="float-right w3-large w3-text-black">EGP {{ net_fees }}</span></p>
   {% endif %}
   <!--total-->
   </li>
   <!--end total cost-->
  </div>
  <!--end CART SUMMARY in small -->
    
<!--
    end right side
-->





<!-------------------------------------- start form here --------------------------------------------->
<!-------------------------------------- start form here --------------------------------------------->
<!-------------------------------------- start form here --------------------------------------------->
<form action="" method="post" enctype="multipart/form-data">  
  {% csrf_token %}
<ul class="list-group mb-3">
    <!--title-->
      <li class="list-group-item bg-dark text-white"><span class="float-left">بيانات الشحن</span></li>
     
      {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
              field error:    <strong>{{ error|escape }}</strong> >>> {{ field.name }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
       form non field error:     <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

      {% if messages %}
      <div class="w3-margin">
      <ul class="messages w3-red w3-text-white">
          {% for message in messages %}
          <li class="w3-margin">{{ message }}</li>
          {% endfor %}
      </ul>
  </div>
      {% endif %}
      <!--end title-->
    <!--forms for buy-->

     <li class="list-group-item border border-0">
    <div class="row w3-small w3-small">
    
    <!--First Name-->
    <div class="col-lg-6 col-md-12 col-sm-12 ">
    <div class="form-group">
        <label for="usr">الإسم الأول :</label>
        {% render_field form.first_name id="usr" class="form-control" placeholder="الإسم الأول" type='text' %}
      </div>
      </div>
      <!--end First Name-->
    
    <!--Last Name-->
    <div class="col-lg-6 col-md-12 col-sm-12"><div class="form-group">
        <label for="usr">اسم العائلة  :</label>
        {% render_field form.last_name class="form-control" placeholder="اسم العائلة" type='text' %}
      </div>
  </div>
  <!--end Last Name-->
  
  <!--sddress-->
  <div class="col-lg-12"><div class="form-group">
        <label for="usr">العنوان بالتفصيل :</label>
        {% render_field form.address id="address" class="form-control" placeholder="Address" type='text' %}
      </div>
  </div>
  <!--end sddress-->
  




  <!--city-->
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="form-group">
        <label for="sel1">المدينة :</label>
        <select class="form-control" value="{{ form.city }}" onchange="ShippingCost()" required>
          <option  value="none">-----</option>
          {% if shippings %} {% for x in shippings %}
          <option id="shippingcost" value="{{ x.shipping_city_arabic }}">{{ x.shipping_city_arabic|title }} ... {{ x.shipping_cost }} جنيه مصرى</option>
          {% endfor %}  {% endif %}
        </select>
      </div>
      </div>
      <!--end city-->
      


      <script>
        function ShippingCost() {
              console.log('function fired');
          let shcost = document.querySelector('#shippingcost');
          if (shcost) {
              let value = shcost.getAttribute('value');
              console.log(value);
              document.getElementById("displayshippingcost").innerHTML = value;
          };
        }
        </script>








      
      <!--Zip Code-->
      <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="form-group">
        <label for="usr">الرمز البريدى :</label>
        {% render_field form.postal_code id="Postal" class="form-control" placeholder="الرمز البريدى" type='text' %}
      </div>
      </div>
      <!--end Zip Code-->
      
      <!--Country-->
      <div class="col-sm-12 ">
      <div class="form-group ">
        <label for="usr">البلد :</label>
        {% render_field form.country id="country" class="form-control" placeholder="البلد" value="Egypt" type='text' disabled="true" %}
        <div class="input-group-append">

    </div>
  </div>
    </div>
    <!--end Country-->
    
    <!--Phone-->
    <div class="col-lg-6 col-md-12 col-sm-12 ">
    <div class="form-group">
        <label for="usr"> رقم المحمول :</label>
        {% render_field form.phone1 id="phone1" class="form-control" placeholder="موبايل" type='text' %}
      </div>
      </div>
       <!--end Phone-->
      
       <!--Other Phone-->
      <div class="col-lg-6 col-md-12 col-sm-12 ">
    <div class="form-group">
        <label for="usr">رقم آخر :</label>
        {% render_field form.phone2 id="phone2" class="form-control" placeholder="رقم آخر" type='text' %}
      </div>
      </div>
      <!--end Other Phone-->
      </div>
      </li>
      
      <!--check box-->
      <!-- <li class="list-group-item border-0">
      <div class="form-check ">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" value="">Yes my BILLING and SHIPPING address are the same 
    </label></div>
  </li> -->
  <!--end check box-->
  
  <!--Contact Information-->
  <li class="list-group-item border-0 w3-small">
  <!--title-->
  <h6><b>بيانات التواصل</b></h6>
  <!--end title-->
  البريد الإليكترونى مطلوب، حيث أننا يمكن أن نتواصل معك من خلاله لتأكيد الطلب أو لأى تفاصيل أخرى قد يتم الإستعلام عنها 
  </li>
  
  
  
  <li class="list-group-item border-0 w3-small">
  <!--email row-->
  <div class="row">
  <!--Email-->
   <div class="col-lg-6 col-md-12 col-sm-12 ">
    <div class="form-group">
        <label for="email">البريد الإليكترونى :</label>
        {% render_field form.email id="EMAIL_1" class="form-control" placeholder="البريد الإليكترونى" type='email' %}
      </div>
      </div>
      <!--end Email-->
      
      <!--Re-Type Address-->
      <div class="col-lg-6 col-md-12 col-sm-12 ">
    <div class="form-group">
        <label for="email">إعادة كتابة البريد الإليكترونى :</label>
        {% render_field form.email id="EMAIL_2" class="form-control" placeholder="البريد الإليكترونى" type='email' onCchange="return checkEmail()" %}
        <p id="email_err" style="color: red;"></p>
      </div>
      </div>
      <!--Re-Type Address-->
  </div>
  <!--end email row-->
  </li>
  <!--end Contact Information-->
   
    <!--end forms for buy-->
    {% render_field form.promo_code value=coupon hidden=true %}
    <div class="g-recaptcha form-group w3-margin" data-sitekey="6LfE570ZAAAAAHtB83TiCPq3nfuusnwExnVs8scu"></div>
    </ul>
  
    







  <style>

    button {
        display: inline-block;
        padding: 0;
        margin: 0;
        vertical-align: top;
        background-color: white;
        border: none;
    }
    
        #cash {
        background-image: url( '{% static "image/الدفع عند الإستلام.png" %}' );
        background-size: 200px 65px;
        background-position: 100%;
        height: 65px;  
        width: 200px;
        position:relative; 
        bottom:12px;
     
    }
    
        #wallet {
        background-image: url( '{% static "image/الدفع بالمحفظة الإلكترونية.png" %}' );
        background-size: 200px 55px;
        background-position: 100%;
        height: 55px;  
        width: 200px;
      
    }
    
        #credit {
        background-image: url( '{% static "image/الدفع ببطاقة الائتمان.png" %}' );
        background-size: 200px 55px;
        background-position: 100%;
        height: 55px;  
        width: 200px;
      
    }
    
        #change {
        background-image: url( '{% static "image/تغيير الطلب.png" %}' );
        background-size: 200px 62px;
        background-position: 100%;
        height: 62px;  
        width: 200px;
    }
      </style>


     
      <!--cash button-->
      <button type="" name="cashOnDelivery" value="cashOnDelivery" id="cash"> </button>
      <!--end Continue button-->
      
      <!--credit button-->
      <button type="" id="credit"> </button>
      <!--end Continue button-->

      <!--wallet button-->
      <button type="submit" name="wallet" value="wallet" id="wallet"> </button>
      <!--end Continue button-->

        <!--Back button-->
        <a href="{% url 'cart:cart_detail_arabic' %}#cart_detail">
          <button type="button" id="change"></button>
          </a>
          <!--end Back button-->


     

















</form>
  <!---end here---->
<br>




</div>
</div>
</div>



{% endblock %}

<script>
  function checkEmail() {
	const EMAIL_1 = document.getElementById('EMAIL_1');
	const EMAIL_2 = document.getElementById('EMAIL_2');
	if (EMAIL_1.value != EMAIL_2.value) {
		// alert('Two emails don\'t match!');
		document.getElementById('email_err').innerHTML = "البريد الإليكترونى غير متطابق فى الخانتين";
		return false;
	}
	if (EMAIL_1.value == EMAIL_2.value) {
		document.getElementById('email_err').innerHTML = '';
	}
}
</script>




{% include 'orders/order/bottom-left-side-checkout.html' %}